*{
    box-sizing: border-box;
}
header div {
    width: 100%;
    z-index: 1;

}

.navbar{
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    background-color: rgb(237, 237, 237);
    margin: 0px;
}
@media (max-width: 480px) {
    h1{
        background-color: blue;
        font-size: 15px; 
    }
}



div{
    background-color: rgb(237, 237, 237);

}
h2 {
    text-align: center;
    font-size: larger;
    padding: 30px;
}
ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;
    margin: 5px;
}
nav ul{
    display: flex;
    list-style-type: none;
}


.caja{
    width: 350px;
    height: 150px;
    border: 5px double black;
    background-color: aquamarine;
    display: inline-block;
    margin: 40px;
    box-shadow: 0 0 20px gray;
}
@media (max-width: 480px) {
    .caja {
        background-color: blue;
        border: 5px double rgb(0, 0, 0);

    }
}
.ropa{
    height: 800px;
    width: 1800px;
}
/*  productos{
    height: 400px;
    width: 587px; */

h3{
    text-align: center;
}
footer{
    background-color: rgb(237, 237, 237);
}
form{
    text-align: center;
}
.logos{
    width: 50px;
    height: 50px;
    margin: 10px;

}
.quienessomos{
    width: 1500px;
    height: 300px;
    
}
.p1{
    color: rgb(237, 237, 237);
    text-align: right;


}
section{
    text-align: center;
    font-size: larger;
    block-size: 100px;
    margin-block-start: 100px;
}
.chat{
    width: 70px;
    height: 88px;
    margin-top: 100px;
    margin-left: 1700px;
    border: 5px double black;
    background-color: aquamarine;
    position: fixed;
    border-style: double;
    right: 50px;

    text-align: center;
    
}
@media (max-width: 480px) {
    .chat {
        background-color: blue;
        border: 5px double rgb(0, 0, 0);   
    }
}


h4{
    text-align: center;
}

main{
    grid-row: auto;
}

div p {
    text-align: left;
}
main img{
    padding: 0px;
}
@media (max-width: 480px) {
    .quienessomos{
        width: 100%;
        height: 50%;
        
    }
}

.btn  {
    color:aquamarine ;
}
@media (max-width: 480px) {
    .btn{
        background-color: blue; 
        
    }
}

.productos{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: white;
}
@media (max-width:480px) {
    * {
        font-size: 10px;
    }
}