*{
    box-sizing: border-box;
}
header div {
    width: 100%;
    z-index: 1;

}
h1 {
    text-align: center;
    background-color: rgb(237, 237, 237);
}
div{
    background-color: rgb(237, 237, 237);

}
h2 {
    text-align: center;
    font-size: larger;
}
ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;
}

.caja{
    width: 350px;
    height: 150px;
    border: 5px double black;
    background-color: aquamarine;
    display: inline-block;
    margin: 40px;
    box-shadow: 0 0 20px gray;
}
.ropa{
    height: 800px;
    width: 1800px;
}
.productos{
    height: 400px;
    width: 587px;
}
h3{
    text-align: center;
}
footer{
    background-color: rgb(237, 237, 237);
}
form{
    text-align: center;
}
.logos{
    width: 50px;
    height: 50px;
    margin: 10px;

}
.quienessomos{
    width: 1500px;
    height: 300px;
    
}
.p1{
    color: rgb(237, 237, 237);
    background-color: rgb(189, 189, 189);
    text-align: right;
}
section{
    text-align: center;
    font-size: larger;
    block-size: 100px;
    margin-block-start: 100px;
}
.chat{
    width: 70px;
    height: 88px;
    margin-top: 100px;
    margin-left: 1700px;
    border: 5px double black;
    background-color: aquamarine;
    position: fixed;
    border-style: double;
    right: 50px;

    text-align: center;
    
}

h4{
    text-align: center;
}

main{
    grid-row: auto;
}

div p {
    text-align: left;
}
main img {
    padding: 5px;
}